/contracts/.prettierrc.json
/contracts/artifacts
/contracts/_archive
/contracts/.deps
/contracts/tests
/~$Gas estimation.xlsx
/contracts/remix-slither-report.json
/tools/~$Gas estimation.xlsx
/out
/cache
/bin
/src/_archive
/.archive
/src/.prettierrc.json
/src/artifacts
